@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #fff;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 0 32px;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
.header-logo-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 32px;
}
#tentacles {
  height: 56px;
}
.main-nav {
  justify-content: center;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.nav-link:link,
.nav-link:visited {
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 3px solid #000;
}

#description-container p {
  font-size: 18px;
}

.main {
  padding: 0 32px;
}

.stats-container {
  display: flex;
  align-items: center;
}
.stats-container:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

.stats-card {
  background-color: lightblue;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
  background-color: #7997a1;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: #576c73;
  color: #fff;
}
